@use 'variable';

@mixin btn($weidth, $display) {
  display: $display;
  width: $weidth;
  height: 40px;
  // margin: 20px;
  cursor: pointer;
  background-color:  #fff;
  }

.little_box {
  @include btn(40px, flex);
  border: 10px, solid, variable.$white;
}

.large_box {
  @include btn(140px, flex);
  border: 10px, solid, variable.$white;
}


