@use 'variable';
@use 'mixin';

p {
  margin: 0;
}

.header {
    color: transparent;
    background-color: variable.$navy;
    height: 100px;
    width: 400px;
}

.side {
    color: transparent;
    background-color: variable.$green;
    height: 250px;
    width: 150px;
}

.box_main {
    color: transparent;
    background-color: variable.$red;
    height: 250px;
    width: 250px;
}

article {
     display:flex;
     width: 400px;
}

.footer {
    color: transparent;
    background-color: variable.$brown;
    height: 100px;
    width: 400px;
}

.box_header {
  ul.list_header {
    display: flex;
    gap: 10px;
    padding: 0;
    // border: 10px, solid, variable.$white;
  }
}

   > li {
      }


    $classNames: 'purple', 'orange', 'blue';
    $buttonColor: #a9004b, #ff863f, #0000ff;

    @each $変数classNames in $classNames {
      $i: index($classNames, $変数classNames);

          .#{$変数classNames} {
            p.little_box {
              background-color: nth($buttonColor, $i);
          }
            p.large_box {
              background-color: nth($buttonColor, $i);
          }
        }
      }