@use 'variable';
@use 'mixin';

p {
  margin: 0;
}

.header {
    position: relative;
    color: transparent;
    background-color: variable.$navy;
    height: 100px;
    width: 400px;
}

.list_header {
  display: flex;
}

// .absolute {
//     position: relative;
//     bottom: 20px;
//     right: px;
// }

// .absolute {
//     position: absolute;
//     // right: 340px;
// }

.side {
    color: transparent;
    background-color: variable.$green;
    height: 250px;
    width: 150px;
}

.box_main {
    color: transparent;
    background-color: variable.$red;
    height: 250px;
    width: 250px;
}

article {
     display:flex;
     width: 400px;
}

.footer {
    color: transparent;
    background-color: variable.$brown;
    height: 100px;
    width: 400px;
}

// .box_header {
//   position: relative;
// }

  ul.list_header {
    position: absolute;
    top: 20px;
    right: 20px;
    display: flex;
    margin: 0;
    padding: 0;
  }

  $classNames: 'purple', 'orange', 'blue';
  $buttonColor: #a9004b, #ff863f, #0000ff;

  @each $変数classNames in $classNames {
    $i: index($classNames, $変数classNames);

        .#{$変数classNames} {
          p.little_box {
            background-color: nth($buttonColor, $i);
        }
          p.large_box {
            background-color: nth($buttonColor, $i);
        }
      }
    }